@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-black-50: #f4f2f1;
    --color-black-100: #e8e6e3;
    --color-black-200: #d2ccc6;
    --color-black-300: #bbb3aa;
    --color-black-400: #a4998e;
    --color-black-500: #8e8071;
    --color-black-600: #71665b;
    --color-black-700: #554d44;
    --color-black-800: #39332d;
    --color-black-900: #1c1a17;
    --color-black-950: #141210;

    --color-jet-black-50: #eff4f6;
    --color-jet-black-100: #dfe8ec;
    --color-jet-black-200: #bed1da;
    --color-jet-black-300: #9ebac7;
    --color-jet-black-400: #7da3b5;
    --color-jet-black-500: #5d8ca2;
    --color-jet-black-600: #4a7082;
    --color-jet-black-700: #385461;
    --color-jet-black-800: #253841;
    --color-jet-black-900: #131c20;
    --color-jet-black-950: #0d1417;

    --color-almond-cream-50: #f6f2ee;
    --color-almond-cream-100: #eee6dd;
    --color-almond-cream-200: #ddcdbb;
    --color-almond-cream-300: #ccb399;
    --color-almond-cream-400: #bb9a77;
    --color-almond-cream-500: #aa8155;
    --color-almond-cream-600: #886744;
    --color-almond-cream-700: #664d33;
    --color-almond-cream-800: #443422;
    --color-almond-cream-900: #221a11;
    --color-almond-cream-950: #18120c;

    --color-khaki-beige-50: #f6f3ee;
    --color-khaki-beige-100: #eee6dd;
    --color-khaki-beige-200: #ddcdbb;
    --color-khaki-beige-300: #ccb499;
    --color-khaki-beige-400: #bb9b77;
    --color-khaki-beige-500: #aa8255;
    --color-khaki-beige-600: #886844;
    --color-khaki-beige-700: #664e33;
    --color-khaki-beige-800: #443422;
    --color-khaki-beige-900: #221a11;
    --color-khaki-beige-950: #18120c;

    --color-stone-brown-50: #f5f3f0;
    --color-stone-brown-100: #ebe6e0;
    --color-stone-brown-200: #d6cdc2;
    --color-stone-brown-300: #c2b4a3;
    --color-stone-brown-400: #ad9b85;
    --color-stone-brown-500: #998266;
    --color-stone-brown-600: #7a6852;
    --color-stone-brown-700: #5c4e3d;
    --color-stone-brown-800: #3d3429;
    --color-stone-brown-900: #1f1a14;
    --color-stone-brown-950: #15120e;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}